/DesktopApplication/nbproject/private/
/WebApplication/nbproject/private/
/WebApplication/dist/
/WebApplication/build/
/DesktopApplication2/DesktopApp/nbproject/private/
/DesktopApplication2/DesktopApp/build/
/DesktopApplication2/DesktopApp/dist/