/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Apr-2017, 12:19:42
    Author     : Aaron
*/

body {
    	background-color: #FFFFFF;   
	margin: 0; 
	position: relative;
	z-index: -1;
}

ul {
	position: fixed;
	top: 0;
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #bbbbbb;
	font-size: 26px;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

h1 {
	text-align: center;
}

h2 {
	display: block;
	background-color: #bbbbbb;
	text-align: center;
}

h2:hover {
	display: block;
	background-color: #cccccc;
	text-align: center;
}

input {
	width: 50%;
	margin: auto;
}

.active {
	background-color: #4CAF50;
}

.menuHeader {
	display: block;
	background-color: #bbbbbb;
	color: #000000;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.menuItem {
	display: inline-block;
	width:200px;
	height: 200px;
	border-radius: 5%;
	background-color: #bbbbbb;
	padding: 16px 18px;
	position: absolute:
	z-index: -1;
	margin: 0 10px 10px;
}

.menuSection {
	width:640px;
	background-color: #999999;
	top: 50px;
	position: relative;
	margin: auto;
	z-index: -1;
}

.mainSection {
	width:50%;
	background-color: #999999;
	top: 50px;
	position: relative;
	margin: auto;
	z-index: -1;
}

.menuButtons {
	display: table;
	width: 100%;
	position: relative;
}

.menuItemAddBasket {
	display: table-cell;
	background-color: #aaaaaa;
	height:20px;
	width:50%;
	position: absolute:
}

.center {
	margin: auto;
}

.page {
	position: relative;
	top: 100px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.vertNav {
	position: fixed;
	top: 150px;
	width: 20%;
	margin-left: 2.5%;
	border-radius: 5%;
}

.vertNav:hover {
	position: fixed;
	top: 150px;
	width: 20%;
	margin-left: 2.5%;
	border-radius: 5%;
}

.line {
	width: 100%;
	padding: 5px;
	height: auto;
	display: table;
	text-align: center;
	margin: auto;
}

.buttonLine {
	width: 75%;
	height: 25px;
	display: block;
	text-align: center;
	margin: auto;
	bottom: 0;
	position: absolute;
	background-color: #4CAF50;
}

.priceLine {
	width: 25%;
	height: 25px;
	display: inline-block;
	text-align: center;
	margin: auto;
	bottom: 0;
	right: 0;
	float: right;
	position: absolute;
	background-color: #bbbbbb;
}

.menuTile {
	position: relative;
	width: 45%;
	height: 200px;
	float: left;
	margin-left: 2.5%;
	margin-right: 2.5%;
	margin-bottom: 2.5%;
	background: #bbbbbb;
	min-width: 200px;
}

.buttonTile {
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 40%;
	height: 20px;
	float: left;
	margin-left: 4%;
	margin-right: 4%;
	margin-bottom: 3%;
	background-color: #4CAF50;
}



.pizzaTitle {
	font-size: 18px;
	margin: 20px;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
}

.buttonText {
	font-size: 18px;
	margin: 20px;
}

.priceText {
	font-size: 16px;
	margin: 20px;
	text-align: left;
}

.unselectable {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
cursor: pointer;
}

table {
    	border-style: solid;
	margin: auto;
	top: 100px;
	display: inline-block;
}



td#openingTimes {
	width: 50%;
}

table#openingTimes {
	border-style: solid;
	text-align: center;
}

tr#openingTimes {
	width: 100%;
	text-align: center;
}
